doctype html
html(lang="ru")
	head
		block head
		link(rel="stylesheet", href="css/style.min.css")
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">

	body
		
		block content

		block scripts
			script(src='js/modernizr.js')
			script(src='js/script.js')